@import url("/assets/colors.css");
@import url("/assets/spacing.css");
@import url("/assets/typography.css");
@import url("/assets/animations.css");

body {
  font-family: ui-sans-serif;
  background: var(--color-lightgray-2);
}

/* TODO make this something nicer with 3 bars or 3 dots */
loading-indicator {
  opacity:0;
  transition: opacity 200ms ease;
  display: inline-block;
  content: '';
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
loading-indicator.htmx-request {
  opacity:1
}

[data-layout=grid] member-list {
  display: grid;
  grid-template-columns: repeat(4, 23ch);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  margin: 10px 0;
}

[data-layout=grid] member-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 0 var(--color-mediumgray-1);
  text-align: center;
}

[data-layout=grid] header {
  background: linear-gradient(180deg, var(--color-mediumgray-1) 80%, #fff 80%);
  padding: 16px 8px 0;
}

[data-layout=grid] .avatar {
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #fff;
  box-shadow: 0 0px 2px 1px var(--color-mediumgray-1);
}

[data-layout=table] member-list {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  margin: 10px 0;
}

[data-layout=table] .avatar {
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

[data-layout=table] member-card {
  display: grid;
  background: #fff;
  align-items: center;
  padding: 8px 16px;
  grid-gap: 8px;
  grid-template-columns: min-content repeat(3, 1fr);
  box-shadow: 0 4px 0 1px var(--color-mediumgray-1);
}

[data-layout=table] member-card:nth-child(even) {
  background: var(--color-lightgray-1);
}

[data-layout=table] member-card:first-child {
  border-radius: 8px 8px 0 0;
}

[data-layout=table] member-card:last-child {
  border-radius: 0 0 8px 8px;
}

.htmx-request button {
  /*cursor: wait;*/
}


button {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

button::after {
  position: absolute;
  left: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  content: '✓';
  opacity: 0;
}

.button-success {
  color: transparent;
  animation: textAppear 200ms ease .7s forwards;
}

.button-success::after {
  color: initial;
  opacity: 1;
  animation: pulse .5s ease, fadeout 200ms ease .5s forwards;
}



.button-success {
}

.input-error {
  animation: 1s ease-in-out headshake;
}

.icon {
  vertical-align: middle;
}

.identicon {
  display: inline-block;
  border-radius: 50%;
  background: #dde;
}

toggle-buttons {
  display: inline-flex;
  grid-gap: 4px;
  vertical-align: middle;
}

toggle-buttons input {
  display: none;
}

toggle-buttons input:checked + label {
  background: #ddd;
}

toggle-buttons label:hover {
  background: #f2f2f2;
}

toggle-buttons label {
  display: block;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

toggle-buttons label img {
  display: block;
}

toggle-buttons label:not(:first-of-type) {
  border-left: 0;
}
