/* https://animate.style */
@keyframes headshake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}



@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes textAppear {
  from {
    color: transparent;
  }
  to {
    color: initial;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}




@keyframes spinner {
  to {transform: rotate(360deg);}
}

/* TODO make this something nicer with 3 bars or 3 dots */
loading-indicator {
  opacity:0;
  transition: opacity 200ms ease;
  display: inline-block;
  content: '';
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
loading-indicator.htmx-request {
  opacity:1
}


[data-layout=grid] {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  margin: 10px 0;
}

[data-layout=table] member-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: unset;
  border-bottom: 1px solid #ddd;
  border-radius: unset;
}

[data-layout=table]  member-card:nth-child(even) {
  background: #f9f9f9;
}

member-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.htmx-request button {
  /*cursor: wait;*/
}


button {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

button::after {
  position: absolute;
  left: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  content: '✓';
  opacity: 0;
}

.button-success {
  color: transparent;
  animation: textAppear 200ms ease .7s forwards;
}

.button-success::after {
  color: initial;
  opacity: 1;
  animation: pulse .5s ease, fadeout 200ms ease .5s forwards;
}



.button-success {
}

.input-error {
  animation: 1s ease-in-out headshake;
}

.icon {
  vertical-align: middle;
}

.identicon {
  display: inline-block;
  border-radius: 50%;
  background: #dde;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

toggle-buttons {
  display: inline-flex;
  grid-gap: 4px;
  vertical-align: middle;
}

toggle-buttons input {
  display: none;
}

toggle-buttons input:checked + label {
  background: #ddd;
}

toggle-buttons label:hover {
  background: #f2f2f2;
}

toggle-buttons label {
  display: block;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

toggle-buttons label img {
  display: block;
}

toggle-buttons label:not(:first-of-type) {
  border-left: 0;
}
